.profile {
  display: flex;
  margin-top: 3%;
  margin-left: 1rem;
  justify-content: center;

  .filter {
    display: flex;
    margin: 0.5rem 0;

    .sold,
    .unsold {
      padding: 0.5rem;
      font-size: 12px;
      color: #ce0c15;
      border: 2px solid #ce0c15;
      margin: 0 0.5rem;
    }

    .sold:hover,
    .unsold:hover {
      color: white;
      background: #ce0c15;
      cursor: pointer;
    }

    .active-filter {
      color: white;
      background: #ce0c15;
    }
  }

  .card {
    border-radius: 5px;
    height: 250px;
    padding: 1rem;
    position: relative;
    display: flex;
    align-items: center;

    .label {
      text-transform: uppercase;
      font-weight: bold;
      color: #ce0c15;
      font-size: 12px;
      margin-bottom: 7px;
      letter-spacing: 3px;
    }

    .value {
      font-size: 21px;
      &-name {
        font-size: 30px;
      }
    }

    .player-name {
      margin: 3.5rem;
      width: 550px;
      .sold {
        width: 75px;
        height: 75px;
        position: absolute;
        border: none;
        top: 1rem;
        left: 30rem;
      }
      .sold-team {
        width: 75px;
        height: 75px;
        position: absolute;
        border: none;
        top: 1rem;
        left: 35rem;
      }
    }

    .other-info {
      margin-top: 2.5rem;
      display: flex;
      align-items: center;

      .info-blocks {
        margin: 2.5rem;
      }
      .info-blocks:first-child {
        margin-left: 0;
      }
    }

    .teams {
      padding-left: 1.5rem;
      border-left: 1px solid #d1d1d1;
      width: 155px;
      margin-top: 7.5rem;

      .team-icons {
        height: 55px;
        width: 55px;
        border: none;
        margin: 0 0.5rem;
        filter: grayscale(100%);
      }
      .team-icons:hover {
        filter: grayscale(0%);
        cursor: pointer;
      }
      .team-icons:first-child {
        margin-top: 0;
      }

      .increment-button {
        padding: 1rem;
        text-align: center;
        margin: 1rem 0;
        color: #04ad5f;
        background: white;
        border: 2px solid #04ad5f;
        font-size: 16px;
        user-select: none;
        &:hover {
          border: none;
          cursor: pointer;
          color: white;
          background: #04ad5f;
          border: 2px solid #04ad5f;
        }
        &::before {
          content: "+ ";
        }
      }
    }
  }

  .pricing {
    position: absolute;
    bottom: -10rem;
    display: flex;
    left: 6rem;

    &-blocks {
      padding: 0 7rem;
      &.pricing-blocks-centered {
        padding: 0 19rem;
      }
      .label {
        text-transform: uppercase;
        font-weight: bold;
        color: #ce0c15;
        font-size: 18px;
        margin-bottom: 10px;
        letter-spacing: 5px;
      }
      .value {
        font-size: 60px;
      }
    }

    .rupee-icon {
      font-size: 42px;
    }
    .rupee-icon:after {
      content: " ";
    }
  }

  .action {
    position: absolute;
    margin-top: -5.9rem;
    left: 11rem;

    .header-tags {
      display: flex;
      font-size: 12px;
      border: 1px solid red;
      height: 30px;
      width: 75px;
      justify-content: center;
      align-items: center;
      margin: 0 0.5rem;
      border-radius: 5px;
    }

    .team-icons-header-container {
      position: absolute;
      display: flex;
    }

    .team-icons-header {
      width: 25px;
      height: 25px;
      border: none;
    }
  }

  select {
    padding: 0.5rem;
    border: 2px solid #ce0c15;
    color: #ce0c15;
    outline: none;
  }

  .change-player {
    display: flex;
    padding: 0.5rem;
    color: #ce0c15;
    font-size: 14px;
    position: absolute;
    right: 20%;
    z-index: 99999;
    top: 5%;

    .previous {
      padding: 0.5rem;
      border-right: 1px solid #ce0c15;
      padding-right: 1rem;
      padding-left: 1rem;
      cursor: pointer;
      margin-left: -0.5rem;
      user-select: none;
    }

    .next {
      padding: 0.5rem;
      border-left: 1px solid #ce0c15;
      padding-left: 1rem;
      padding-right: 1rem;
      cursor: pointer;
      margin-right: -0.5rem;
      user-select: none;
    }

    .previous:hover,
    .next:hover {
      color: white;
      background: #ce0c15;
    }
  }

  img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 3px solid #ce0c15;
    padding: 2px;
  }
}
